# CEPAGRI datasets extraction

### 1. Import libs

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### 2. Reading datasets

In [35]:
data = pd.read_excel('1997.xlsx', sheetname="111")

In [36]:
# Show some data
data.head()

,Cod,Ano,Dia Juliano,Hora - minuto,Veloc. Instantânea do Vento a 5 metros (m/s),Veloc. Instantânea do Vento a 2 metros (m/s),Direção do Vento no instante da aquisição (°),Radiação Incidente total de 10 leituras (KW/m2),Radiação Refletida Total de 10 leituras (KW/m2),Fluxo Positivo de calor no solo total de 10 leituras (W/m2),...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,111,1997,1,10,1618.00,1115.000,8.32,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,111,1997,1,20,0.99,0.763,20.59,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,111,1997,1,30,2.05,1115.000,17.72,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,111,1997,1,40,3089.00,1422.000,189.20,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,111,1997,1,50,2128.00,1406.000,153.20,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Auxiliar array with sheets names

In [37]:
planilha = [str(1997+w) for w in range(0,22)]
planilha

['1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018']

### For each excel file (111,222,265 and 333) we create a dataframe

If there is a string named "Unnamed" it is droped

In [38]:
data_111 = []
for p in planilha:
    name =p+'.xlsx'
    data_111.append(pd.read_excel(name, sheetname="111"))

In [39]:
for i in range(len(planilha)):
    to_drop = []
    for var in data_111[i].columns:
        if("Unnamed" in var):
            to_drop.append(var)
    data_111[i] = data_111[i].drop(to_drop, axis=1)

In [54]:
for i in range(len(planilha)):
    print(data_111[i].shape[1])

18
18
18
18
18
18
18
18
18
18
18
18
18
18
18
18
18
18
18
18
18
18

In [57]:
data_111[1].head()

,COD,YEAR,DAY365,MINUTE2400,N_WNDVEL_5M,N_WNDVEL_2M,N_WNDDIR_DEGREE,N_INCRAD_10MSR,N_REFRAD_10MSR,N_PHTFLOW_10MSR,N_NHTFLOW_10MSR,N_AIRMTR_PCT10,N_AIRTMP_MED10,N_GRDTMP_3CM,N_GRDTMP_6CM,N_GRDTMP_UV,N_PRESSION_HPA,N_RAIN_SUM10
0,111,1998,1,10,2.56,1728.0,129.2,0.0,0.0,0.0,-486.6,100.0,22.14,26.06,27.25,29.02,946.0,0.0
1,111,1998,1,20,2403.00,1682.0,90.0,0.0,0.0,0.0,-482.9,100.0,22.13,26.05,27.25,29.02,946.0,0.0
2,111,1998,1,30,1814.00,1452.0,153.9,0.0,0.0,0.0,-480.7,100.0,22.31,26.05,27.20,29.01,947.0,0.0
3,111,1998,1,40,1952.00,1223.0,120.6,0.0,0.0,0.0,-478.1,100.0,22.47,26.06,27.30,29.16,946.0,0.0
4,111,1998,1,50,1932.00,1345.0,135.1,0.0,0.0,0.0,-476.4,100.0,22.62,26.15,27.35,29.25,947.0,0.0

In [56]:
data_111[21].head(3)

,COD,YEAR,DAY365,MINUTE2400,N_WNDVEL_5M,N_WNDVEL_2M,N_WNDDIR_DEGREE,N_INCRAD_10MSR,N_REFRAD_10MSR,N_PHTFLOW_10MSR,N_NHTFLOW_10MSR,N_AIRMTR_PCT10,N_AIRTMP_MED10,N_GRDTMP_3CM,N_GRDTMP_6CM,N_GRDTMP_UV,N_PRESSION_HPA,N_RAIN_SUM10
0,111.0,2018.0,1.0,10.0,1.473,1.296,49.00,0.0,0.0,0.0,-6999.0,85.1,20.75,6999.0,6999.0,-0.045,941.0,0.0
1,111.0,2018.0,1.0,20.0,1.383,1.285,9.52,0.0,0.0,0.0,-6999.0,84.7,20.76,6999.0,6999.0,-0.045,941.0,0.0
2,111.0,2018.0,1.0,30.0,1.273,1.120,35.58,0.0,0.0,0.0,-6999.0,84.7,20.76,6999.0,6999.0,-0.046,941.0,0.0

In [52]:
data_111[21] = data_111[21][data_111[21].columns[:18]]

In [55]:
columns = ['COD', 'YEAR', 'DAY365', 'MINUTE2400', 'N_WNDVEL_5M', 'N_WNDVEL_2M','N_WNDDIR_DEGREE', 'N_INCRAD_10MSR', 'N_REFRAD_10MSR', 'N_PHTFLOW_10MSR', 'N_NHTFLOW_10MSR', 'N_AIRMTR_PCT10', 'N_AIRTMP_MED10', 'N_GRDTMP_3CM', 'N_GRDTMP_6CM', 'N_GRDTMP_UV', 'N_PRESSION_HPA', 'N_RAIN_SUM10']

for i in range(len(planilha)):
    data_111[i].columns = columns

In [ ]:
# data_222 = []
# for p in planilha:
#     name =p+'.xlsx'
#     data_222.append(pd.read_excel(name, sheetname="222"))

In [ ]:
# for i in range(len(planilha)):
#     to_drop = []
#     for var in data_222[i].columns:
#         if("Unnamed" in var):
#             to_drop.append(var)
#     data_222[i] = data_222[i].drop(to_drop, axis=1)

In [ ]:
# data_265 = []
# for p in planilha:
#     name =p+'.xlsx'
#     data_265.append(pd.read_excel(name, sheetname="265"))

In [ ]:
# for i in range(len(planilha)):
#     to_drop = []
#     for var in data_265[i].columns:
#         if("Unnamed" in var):
#             to_drop.append(var)
#     data_265[i] = data_265[i].drop(to_drop, axis=1)

#### Code just to check shape of data

In [ ]:
for i in range(len(data_111)):
    print("Base ", i, " tem tamanho ", data_111[i].shape, "\n")

In [ ]:
# for i in range(len(data_222)):
#     print("Base ", i, " tem tamanho ", data_222[i].shape, "\n")

In [ ]:
# for i in range(len(data_333)):
#     print("Base ", i, " tem tamanho ", data_333[i].shape, "\n")

In [ ]:
# for i in range(len(data_265)):
#     print("Base ", i, " tem tamanho ", data_265[i].shape, "\n")

#### Defining data to export as CSV

In [59]:
full_111 = data_111[0]

for i in range(1,len(data_111)):
    print(i)
    full_111 = pd.concat([full_111[columns], data_111[i][columns]], axis = 0)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [ ]:
# full_222 = data_222[0]

# for i in range(1,len(data_222)):
#     full_222 = pd.concat([full_222, data_222[i]], axis = 0)

In [ ]:
# full_222.shape

In [ ]:
# full_333 = data_333[0]

# for i in range(1,len(data_333)):
#     full_333 = pd.concat([full_333, data_333[i]], axis = 0)

In [ ]:
# full_333.shape

In [ ]:
# full_265 = data_265[0]

# for i in range(1,len(data_265)):
#     full_265 = pd.concat([full_265, data_265[i]], axis = 0)

In [ ]:
# full_265.shape

#### Exporting data in CSV files

In [60]:
full_111.to_csv("base_111.csv", index = False)
# full_222.to_csv("base_222.csv", index = False)
# full_333.to_csv("base_333.csv", index = False)
# full_265.to_csv("base_265.csv", index = False)