# The objective with this notebook is to get the final version with encoded variables  of data111 and to turn this dataset in a day based data set

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import climate as cli
%matplotlib inline

In [3]:
base = pd.read_csv('clean_base111_v2.csv', encoding = 'latin-1')

In [4]:
base.head()

,COD,YEAR,DAY365,MINUTE2400,N_WNDVEL_5M,N_WNDVEL_2M,N_WNDDIR_DEGREE,N_INCRAD_10MSR,N_REFRAD_10MSR,N_PHTFLOW_10MSR,N_NHTFLOW_10MSR,N_AIRMTR_PCT10,N_AIRTMP_MED10,N_GRDTMP_3CM,N_GRDTMP_6CM,N_GRDTMP_UV,N_PRESSION_HPA,N_RAIN_SUM10,MONTH,WEEK
0,111.0,1997,1.0,10.0,1618.00,1115.000,8.32,0.0,0.0,0.0,-443.0,92.3,19.84,21.04,22.68,24.59,943.0,0.0,1,0.0
1,111.0,1997,1.0,20.0,0.99,0.763,20.59,0.0,0.0,0.0,-443.0,93.1,19.63,20.97,22.65,24.52,943.0,0.0,1,0.0
2,111.0,1997,1.0,30.0,2.05,1115.000,17.72,0.0,0.0,0.0,-442.5,93.9,19.42,20.88,22.51,24.38,943.0,0.0,1,0.0
3,111.0,1997,1.0,40.0,3089.00,1422.000,189.20,0.0,0.0,0.0,-442.3,94.4,19.42,20.79,22.43,24.30,943.0,0.0,1,0.0
4,111.0,1997,1.0,50.0,2128.00,1406.000,153.20,0.0,0.0,0.0,-443.0,94.0,19.41,20.69,22.28,24.24,943.0,0.0,1,0.0

# Creating auxiliar varibles:

- Month
- Week
- Categorical wind direction

## Getting month

In [5]:
def get_month(day):
    if((day>0) & (day <= 31)):
        return 1
    elif((day>31) & (day <= 59)):
        return 2
    elif((day>59) & (day <= 90)):
        return 3
    elif((day>90) & (day <= 120)):
        return 4
    elif((day>120) & (day <= 151)):
        return 5
    elif((day>151) & (day <= 181)):
        return 6
    elif((day>181) & (day <= 212)):
        return 7
    elif((day>212) & (day <= 243)):
        return 8
    elif((day>243) & (day <= 273)):
        return 9
    elif((day>273) & (day <= 304)):
        return 10
    elif((day>304) & (day <= 334)):
        return 11
    else:
        return 12

In [6]:
# base['MONTH'] = base['Dia Juliano'].map(get_month)

## Getting week

In [7]:
def get_week(days):
    return np.floor(days/7)

In [8]:
base['WEEK'] = base['DAY365'].map(get_week)

In [9]:
def get_wnddir(x):
    if((x>=348.75) | (x < 11.25)):
        return 'N'
    elif((x>=11.25) & (x < 33.75)):
        return 'NNE'
    elif((x>=33.75) & (x < 56.25)):
        return 'NE'
    elif((x>=56.25) & (x < 78.75)):
        return 'ENE'
    elif((x>=78.75) & (x < 101.25)):
        return 'E'
    elif((x>=101.25) & (x < 123.75)):
        return 'ESE'
    elif((x>=123.75) & (x < 146.25)):
        return 'SE'
    elif((x>=146.25) & (x < 168.75)):
        return 'SSE'
    elif((x>=168.75) & (x < 191.25)):
        return 'S'
    elif((x>=191.25) & (x < 213.75)):
        return 'SSW'
    elif((x>=213.75) & (x < 236.25)):
        return 'SW'
    elif((x>=236.25) & (x < 258.75)):
        return 'WSW'
    elif((x>=258.75) & (x < 281.25)):
        return 'W'
    elif((x>=281.25) & (x < 303.75)):
        return 'WNW'
    elif((x>=303.75) & (x < 326.25)):
        return 'NW'
    elif((x>=326.25) & (x < 348.75)):
        return 'NNW'

In [10]:
base['C_WNDDIR_DEGREE'] = base['N_WNDDIR_DEGREE'].map(get_wnddir)

In [11]:
base.head()

,COD,YEAR,DAY365,MINUTE2400,N_WNDVEL_5M,N_WNDVEL_2M,N_WNDDIR_DEGREE,N_INCRAD_10MSR,N_REFRAD_10MSR,N_PHTFLOW_10MSR,...,N_AIRMTR_PCT10,N_AIRTMP_MED10,N_GRDTMP_3CM,N_GRDTMP_6CM,N_GRDTMP_UV,N_PRESSION_HPA,N_RAIN_SUM10,MONTH,WEEK,C_WNDDIR_DEGREE
0,111.0,1997,1.0,10.0,1618.00,1115.000,8.32,0.0,0.0,0.0,...,92.3,19.84,21.04,22.68,24.59,943.0,0.0,1,0.0,N
1,111.0,1997,1.0,20.0,0.99,0.763,20.59,0.0,0.0,0.0,...,93.1,19.63,20.97,22.65,24.52,943.0,0.0,1,0.0,NNE
2,111.0,1997,1.0,30.0,2.05,1115.000,17.72,0.0,0.0,0.0,...,93.9,19.42,20.88,22.51,24.38,943.0,0.0,1,0.0,NNE
3,111.0,1997,1.0,40.0,3089.00,1422.000,189.20,0.0,0.0,0.0,...,94.4,19.42,20.79,22.43,24.30,943.0,0.0,1,0.0,S
4,111.0,1997,1.0,50.0,2128.00,1406.000,153.20,0.0,0.0,0.0,...,94.0,19.41,20.69,22.28,24.24,943.0,0.0,1,0.0,SSE

In [12]:
base.columns.values

array(['COD', 'YEAR', 'DAY365', 'MINUTE2400', 'N_WNDVEL_5M', 'N_WNDVEL_2M',
       'N_WNDDIR_DEGREE', 'N_INCRAD_10MSR', 'N_REFRAD_10MSR',
       'N_PHTFLOW_10MSR', 'N_NHTFLOW_10MSR', 'N_AIRMTR_PCT10',
       'N_AIRTMP_MED10', 'N_GRDTMP_3CM', 'N_GRDTMP_6CM', 'N_GRDTMP_UV',
       'N_PRESSION_HPA', 'N_RAIN_SUM10', 'MONTH', 'WEEK', 'C_WNDDIR_DEGREE'], dtype=object)

# Transforming 10minutos based in a day based data

We are getting max min and respective wind direction for each variable, and the mean of each variable

In [13]:
base['MONTH'] = base['DAY365'].map(get_month)
base['WEEK'] = base['DAY365'].map(get_week)

In [14]:
indices = []
# var1 = 'Temperatura do Ar Média (°C)'
# var2 = 'Veloc. Instantânea do Vento a 5 metros (m/s)'
# var3 = 'Veloc. Instantânea do Vento a 2 metros (m/s)'



vardir = 'N_WNDDIR_DEGREE'


# Years to iterate
years = base.YEAR.unique()
years.sort()

# Days to iterate
days = base['DAY365'].unique()
days.sort()

daybase = base

results = []

i = 1

for a in years:
    for d in days:
        # Aux dataset only with information in the respective year and day
        base_aux = base[(base['YEAR'] == a) & (base['DAY365'] == d)]
        
        # Infos is an auxiliar array to save informations to teh day dataset
        infos = []
        infos.append(a)
        infos.append(d)
        
        if(i == 1):
            namevars = []
            namevars.append('YEAR')
            namevars.append('DAY365')
        
        # Do calculations only in years and days that has at least one observation
        if(base_aux.shape[0]>0):    
 
            for v in base.drop(['YEAR','MONTH','DAY365','C_WNDDIR_DEGREE','MINUTE2400','WEEK','COD'], axis = 1).columns.values:
            
                ix_aux = base_aux[base_aux[v] == base_aux[v].max()].index[0]
                infos.append(base_aux.ix[ix_aux][v])
                if(i == 1):
                    str_var = 'MAX_' + v
                    namevars.append(str_var)
                
                infos.append(base_aux.ix[ix_aux][vardir])
                if(i == 1):
                    str_var = 'DIR_MAX_' + v
                    namevars.append(str_var)
                
                ix_aux = base_aux[base_aux[v] == base_aux[v].min()].index[0]
                infos.append(base_aux.ix[ix_aux][v])
                if(i == 1):
                    str_var = 'MIN_' + v
                    namevars.append(str_var)
                
                infos.append(base_aux.ix[ix_aux][vardir])
                if(i == 1):
                    str_var = 'DIR_MIN_' + v
                    namevars.append(str_var)
                
                mean = base_aux[v].mean()
                infos.append(mean)
                if(i == 1):
                    str_var = 'MEAN_' + v
                    namevars.append(str_var)
            
            if(i == 1):
                namevars.append('HUMIDEX')
            
            base_aux['td2'] = cli.get_td(base_aux['N_AIRTMP_MED10'],base_aux['N_AIRMTR_PCT10'])
            base_aux['h2'] = cli.get_humidex(base_aux['N_AIRTMP_MED10'],base_aux['td2'])
            base_aux.loc[base_aux['h2'] > 60 , 'h2'] = 54
            infos.append(base_aux['h2'].max())
            
            results.append(infos)
            i = i + 1

df_result = pd.DataFrame(results, columns=namevars)

c:\users\hideki\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:46: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
c:\users\hideki\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\hideki\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\hideki\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [15]:
df_result.head(2)

,YEAR,DAY365,MAX_N_WNDVEL_5M,DIR_MAX_N_WNDVEL_5M,MIN_N_WNDVEL_5M,DIR_MIN_N_WNDVEL_5M,MEAN_N_WNDVEL_5M,MAX_N_WNDVEL_2M,DIR_MAX_N_WNDVEL_2M,MIN_N_WNDVEL_2M,...,DIR_MAX_N_PRESSION_HPA,MIN_N_PRESSION_HPA,DIR_MIN_N_PRESSION_HPA,MEAN_N_PRESSION_HPA,MAX_N_RAIN_SUM10,DIR_MAX_N_RAIN_SUM10,MIN_N_RAIN_SUM10,DIR_MIN_N_RAIN_SUM10,MEAN_N_RAIN_SUM10,HUMIDEX
0,1997,1.0,5561.0,9.33,0.892,31.87,2302.065328,3075.0,134.4,0.763,...,91.0,940.0,181.4,942.831933,0.0,8.32,0.0,8.32,0.0,38.572855
1,1997,2.0,4266.0,154.70,0.363,63.72,1949.374418,2876.0,152.0,0.626,...,140.6,942.0,125.6,943.809091,0.0,131.60,0.0,131.60,0.0,32.739444

In [16]:
df_result['MONTH'] = df_result['DAY365'].map(get_month)
df_result['WEEK'] = df_result['DAY365'].map(get_week)

In [17]:
df_result.to_csv("DATA111_2DAILY_V1.csv", index = False)

In [18]:
base.to_csv("DATA111_V0.csv", index= False)